@font-face {
    font-family: 'cedge1';
    src: url('cedge1.woff2') format('woff2'),
        url('cedge1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corp Trial';
    src: url('CorpTrial-Regular.woff2') format('woff2'),
        url('CorpTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corp Trial Med';
    src: url('CorpTrial-Medium.woff2') format('woff2'),
        url('CorpTrial-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corp Trial';
    src: url('CorpTrial-Light.woff2') format('woff2'),
        url('CorpTrial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corp Trial';
    src: url('CorpTrial-Bold.woff2') format('woff2'),
        url('CorpTrial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

